{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/admin.css') }}?v=1.0">
{% endblock %}

{% block title %}Modifier un cursus{% endblock %}

{% block body %}
    <h1>Modifier un cursus</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class='btn'>Enregistrer</button>
    {{ form_end(form) }}

    <button class='btn'><a href="{{ path('cursus_index') }}">Retour à la liste des cursus</a></button>
{% endblock %}